html{
    scroll-behavior: smooth;
}
body{
    
    background-color: #141f27;
    margin: 0 auto;

}
h1, h2, p, a, li{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}
.nav{
    padding: 2% 2% 2% 2%;
}
h1, h2{
    text-align: center;
}
a:hover{
    color:rgb(175, 247, 7);
}
nav{
    display: flex;
    justify-content: center;

}
ul {
    list-style: none;
}

#html, #css, #javascript, #csharp, #mysql{
    height: 20%;
    width: 20%;
}


#presentacion, #lenguajes, #proyectos, #contacto{
    display: flex;
    justify-content: center;
}
.pieDePagina{
    text-align: center;
}
